@charset "UTF-8";
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 초기화 */
*{
    margin : 0 auto;
    padding : 0;
    list-style: none;
    font-family: "맑은 고딕";
    color: #333333;
}

html, body{
    min-width: 1200px;
    font-size: 20px;
}

a{
    text-decoration: none;
    display: block;
}

/* header */
header{
    padding:0px;
    width: 1200px; height: 100px;
    background: #448af3;
}

.wrap{
    margin-left: 0%;
    width:1200px;
}

.logo{
    float: left;
    width: 250px; height: 100px;
    background: whitesmoke;
}
.header_text{
    float: right;
    position: relative;
    top: 50%;
    margin-top: 30px;
    font-size: 45px;
    font-weight: bold;
    width: 850px; height: 60px;
    text-align: center;
    font-family: 'GangwonEduPowerExtraBoldA';
}
/* graph */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    background: whitesmoke;
}
.graph_text{
    justify-content: center;
}

.graph{
    width: 1200px; height: 540px;
    display: flex;
}
.py{
    margin-top: 20px;
}

.company_num{
    color: rgb(163, 161, 161);

}
.date{
    color:rgb(163, 161, 161); ;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    background-color:rgb(222, 221, 221);
}

.btlogo{
    float: left;
    width: 250px;height: 80px;
    background: rgb(222, 221, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btlogo img{      
	float:left;
	width:150px;
    height: auto;
	margin-top:10px;
	margin-left:25px;
}
.team{
    width:600px;  
	height:40px;  
	text-align:center;
    font-size:18px;
    line-height:30px;
}
.team li{
    margin-top:5px;
    display:inline-block;
    width:100px;
}
.copy{
	width:600px;  
	height:40px;  
    text-align:center;
    font-size:16px;
    line-height:50px;
}